# Vancouver Job Crawler — dependencies

# Job scraping
python-jobspy>=0.19.0
requests

# Data
pandas>=2.0.0

# HTTP
requests>=2.31.0

# Google Drive upload
google-api-python-client>=2.100.0
google-auth>=2.23.0
google-auth-httplib2>=0.1.1

# Open excel file
openpyxl

beautifulsoup4>=4.12
lxml>=5.0
